version: '3.7'

services:
  pgadmin:
    container_name: pgadmin_container
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: "mircelal99@gmail.com"
      PGADMIN_DEFAULT_PASSWORD: "B*T_ity6"
      PGADMIN_CONFIG_SERVER_MODE: "False"
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "5050:80"
    restart: unless-stopped
    
volumes:
  pgadmin:
